@media screen and (min-width: 1280px) {
  .board {
    @include board-box(400px, 1002px);
    span {
      @include span_style(20px, normal, 600, #6e798c, 27px);
    }
    flex-direction: row;
  }

  // Background 00000000000000000000000000000
  .backgr {
    @include bg_box(400px, 400px);
    min-width: 400px;
    div {
      @include bg_box_item(240px, 240px);
      background-size: auto;
      background-repeat: no-repeat;
    }
  }

  .text_block_container {
    @include text_container(400px, 100%);
  }

  .text_block {
    @include text_box_size(336px, 527px);
  }

  // Todo /////////////////////////////////////////

  .text_bl_main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
      @include h1_style(40px, normal, 400, #081f32, 46px);
      .invis {
        @include h1_style(40px, normal, 400, #081f32, 46px);
      }
    }

    p {
      @include span_style(18px, normal, 400, #374a59, 27px);
      .invis_2 {
        display: inline;
        @include span_style(18px, normal, 400, #374a59, 27px);
      }
    }
  }

  .footer_img {
    a {
      &:nth-child(2) {
        padding-left: 15px;
      }
    }
  }

  a {
    @include span_style(18px, normal, 600, #007ae9, 25px);
  }
}
