<div class="board">
  <div class="backgr backgr_1">
    <div class="item_1"></div>
  </div>
  <div class="text_block_container">
    <div class="text_block">
      <div class="text_bl_head">
        <span>PRODUCTIVITY</span>
        <span>3 days ago</span>
      </div>
      <div class="text_bl_main">
        <h1>7 Skills of Highly Effective Programmers</h1>
        <p>
          Our team was inspired by the seven skills of highly effective
          programmers created by the TechLead. We wanted to provide our own take
          on the topic<span class="invis_2">. Here are our seven skills of effective programmers.</span>...
        </p>
      </div>
      <div class="text_bl_footer">
        <div class="footer_img">
           <a href=""> <img class="logo" src="../img/pictures/1.png" alt="" /></a>
        
            <a href="#">
                Glen Williams 
            </a>
        
        </div>
        
        <a href="#">
          Read more 🡢
        </a>
      </div>
    </div>
  </div>
</div>

<!-- 222222222222222222222222222222222222222222222222 -->
<div class="board">
  <div class="backgr backgr_2">
    <div class="item_2"></div>
  </div>
  <div class="text_block_container">
    <div class="text_block">
      <div class="text_bl_head">
        <span>MEDIA</span>
        <span>17 days ago</span>
      </div>

      <div class="text_bl_main">
        <h1>SMM starter pack, part 2: content promotion</h1>
        <p>
          This is the second part of the SMM starter pack series of articles. If
          you made it this far, you must be willing to learn about promoting
          business through social media.
        </p>
      </div>
    <div class="text_bl_footer">
        <div class="footer_img">
            <a href=""> <img class="logo" src="../img/pictures/2.png" alt="" /></a>
            
                <a href="#">
                   Patricia Kemp 
                </a>
            
        </div>
    
        <a href="#">
            Read more 🡢
        </a>
    </div>
    </div>
  </div>
</div>

<!-- 3333333333333333333333333333333333333333333333333 -->
<div class="board">
  <div class="backgr backgr_3">
    <div class="item_3"></div>
  </div>
  <div class="text_block_container">
    <div class="text_block">
      <div class="text_bl_head">
        <span>BUSINESS</span>
        <span>1 month ago</span>
      </div>
      <div class="text_bl_main">
        <h1>
          11 Things I Wish I Knew When I Started My<span class="dot">...</span>
          <span class="invis">Business</span>
        </h1>
        <p>
          Here are 11 things I wish I knew when I started my business. I hope
          they will save you some time and some anguish because (experience is a
          good teacher here)<span class="invis_2"> the sodium from your tears acts as a corrosive
          melting agent</span>...
        </p>
      </div>
    <div class="text_bl_footer">
        <div class="footer_img">
            <a href=""> <img class="logo" src="../img/pictures/3.png" alt="" /></a>
            
                <a href="#">
                    Lisa Barnes 
                </a>
           
        </div>
    
        <a href="#">
            Read more 🡢
        </a>
    </div>
    </div>
  </div>
</div>
