body {
  // font-family: 'Open Sans', sans-serif;
  // font-family: 'DM Serif Display', serif;   
  background: #DBDBDB;
  // overflow: hidden;
  min-width: 576px;
  
}

.wrapper {
  
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 111px 0;
  
  .board {
&:nth-child(2) {
   margin: 32px 0;
   @media screen and (min-width: 768px) {
    margin: 64px 0;
   }
  }
  }
 
}

